body{
    margin-left: 20px;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

header{
    background-color: rgb(103, 168, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.chat{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    /* display: inline-block; */
    width: 500px;
    margin: 20px;

}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}